<%- include('headerDirection') %>

    <html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/styleAfterMenu.css">
    </head>

    <body>
        <h1 class="d-flex justify-content-left">Ajouter classe</h1>
        <hr>
        <p><br></p>

        <div class="d-flex justify-content-space-evenly">
            <div class="container d-flex flex-column text-center w-50 h-50 p-5 fondBoutons menuMENU">
                <form action="/addClasse" method="post">
                    <div class="input-group d-flex w-50 mx-auto">
                        <span class="input-group-text" id="">Nom de la classe : </span>
                        <input type="text" class="form-control" name="cl_nom" id="cl_nom" required>
                        
                    </div>
                    <hr>

                    <div class="input-group d-flex w-50 mx-auto">
                        <label for="listematieres"></label>
                            <span class="input-group-text" id="">Professeur principal : </span>
                            <select id="listeProf" name="idProf" required>
                                <% dataListeProfs.forEach(function(professeur) { %>
                                    <option value="<%= professeur.ps_id %>">
                                        <%= professeur.ps_nom %> <%= professeur.ps_prenom %>
                                    </option>
                                    <% }); %>
                            </select>
                    </div>

                    <div class="m-4"></div>

                    <div class="text-center">
                        <button type="submit"
                            class="btn w-25 btn-square-xl button1 btn btn-light btn-lg btn-block">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>

    </body>

    </html>

    <%- include('footer') %>