<%- include('header') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASIMOV</title>
    </head>

    <body>
        <table class="table text-center w-100">
            <thead class="thead-dark">
                <tr>
                    <th class="bg-dark text-white" scope="col">Nom</th>
                    <th class="bg-dark text-white" scope="col">Prénom</th>
                    <th class="bg-dark text-white" scope="col">Classe</th>
                    <th class="bg-dark text-white" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% dataEleves.forEach((eleve, index)=>{%>
                    <tr id=<%=eleve.el_id%>>
                        <td>
                            <%=eleve.el_nom%>
                        </td>
                        <td>
                            <%=eleve.el_prenom%>
                        </td>
                        <td>
                            <%=eleve.cl_nom%>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary">Modifier</button>
                                <button type="button" class="btn btn-danger">Supprimer</button>
                            </div>
                        </td>                    
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </body>

    </html>
    <%- include('footer') %>