<%- include('header') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASIMOV</title>
    </head>

    <body>
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th class="bg-dark text-white" scope="col">Nom</th>
                    <th class="bg-dark text-white" scope="col">Prénom</th>
                    <th class="bg-dark text-white" scope="col">Classe</th>
                </tr>
            </thead>
            <tbody>
                <% dataTotale.forEach((data, index)=>{%>
                    <tr id=<%=data.el_id%>>
                        <td>
                            <%=data.el_nom%>
                        </td>
                        <td>
                            <%=data.el_prenom%>
                        </td>
                        <td>
                            <%=data.el_idClasse%>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </body>

    </html>
    <%- include('footer') %>